@{
    ViewData["Title"] = "Contact";
}

<div class="page-container">
    <div class="page-header">
        <h1 class="page-title">Contact</h1>
        <p class="page-subtitle">You want to contact us?</p>
    </div>

    <div class="page-content">
        This is the content
    </div>

    <div class="page-footer">
        This is the footer
    </div>
</div>
