@model RentCar.Web.ViewModels.Profile.ProfileChangePasswordViewModel

<form asp-action="ChangePassword" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" type="password" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" type="password" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Update Password</button>
</form>